<!-- include header -->
<%- include('./partials/header') %>
<!-- end header -->

        <a href="/adduser" class="new-user-btn rounded">
            <i class="bi bi-person-plus-fill"></i> New user
        </a>

        <div id="delete-alert-container" class="alert-container mt-4">
            <!-- server response appear here -->
        </div>

        <button id="loading" class="btn btn-danger d-none" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Delete...
        </button>

        <table class="table mt-4 table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <!-- user data appear here -->
            </tbody>
        </table>


        <script src="/script/viewData.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
<!-- include footer -->
<%- include('./partials/footer') %>
<!-- end footer -->